.center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.harga{
	text-align: left;
}

.flat-table {
font-family: sans-serif;
-webkit-font-smoothing: antialiased;
font-size: 80%;
width: auto;
overflow: auto;
display: block;
}
.flat-table th {
background-color: rgb(112, 196, 105);
font-weight: normal;
color: white;
padding: 10px 20px;
text-align: center;
}
.flat-table td {
background-color: rgb(238, 238, 238);
padding: 10px 20px;
color: rgb(111, 111, 111);
}